header {
    background-color: rgb(255, 166, 1);
    height: 10vh;
    margin-bottom: 60px;
}

.logo {
    width: 250px;
}

.header-container {
    height: 100%;
}

.nav button {
    border: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    background-color: rgb(255, 166, 1) ;
    cursor: pointer;
}