.layout {
    max-width: 900px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.space {
    justify-content: space-between;
}

.align {
    align-items: center;
}

.column {
    flex-direction: column;
}