@media (min-width: 650px) {
.btn {
      width: 100%; 
}

    .layout {
        max-width: 630px;
        margin: 0 auto;
    }

    .grid-container {
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    }

    .flex {

        flex-direction: row;
    }

    .footer {
        position: absolute;
    }

    .controler {
        grid-template-columns: 35px 35px 35px 35px 35px;
        max-width:  450px;
        max-height: 500px;
    }

    .color {
        width: 25px;
    }

    .main-container {
        height: 400px;
    }
}

@media (min-width: 800px) {
    .layout {
        max-width: 650px;
        margin: 0 auto;
    }

    .flex {

        flex-direction: row;
    }

    .grid-container {
        
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        /* grid-auto-rows: 50px; */
        
    }


    .controler {
        /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
        grid-template-columns: 40px 40px 40px 40px 40px;
        max-width:  350px;
        max-height: 400px;
    }

    

    
}

@media (min-width: 900px) {
    .layout {
        max-width: 750px;
        margin: 0 auto;
    }

    .flex {

        flex-direction: row;
    }


    .controler {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        max-width:  450px;
        max-height: 400px;
    }
    .footer {
        /* bottom: 0; */
    }
}