.main-container {
    gap: 15px; 
    /* display: block; */
    margin-bottom: 20px;
}



.controler {
    display: grid;
    /* width: 350px; */
    width: 100vw;
    /* max-height: 25vh; */
    /* max-height: 500px; */
    grid-template-columns:1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;

    grid-template-areas: 
    " .      input      input     input   . "
    " .      up-down     add-btn    trash    . "
    "increase  decrease  align-l  align-c  align-r"
    "font    font   font   stroke-color     font-color " 
    " stiker      stiker      stiker      stiker      stiker"
    "  downloud       downloud   downloud   share  share";
}

.color {
    /* height: 100%; */
    position: absolute;
    width: 40px;
    opacity: 0;
}

.input {
    grid-area: input;
}

.up-down {
    grid-area: up-down;
    background-color: rgb(255, 167, 52);
    
}

.font-color {
    grid-area: font-color;
    background-color: rgb(255, 167, 52);
}

.add-btn {
    grid-area: add-btn;
    background-color: rgb(255, 167, 52);
}

.trash {
    grid-area: trash;
    background-color: rgb(255, 167, 52);
}

.increase {
    grid-area: increase;
    background-color:rgb(255, 167, 52) ;
}

.decrease {
    grid-area: decrease;
    background-color: rgb(255, 167, 52);
}

.align-left {
    grid-area: align-l;
    background-color: rgb(255, 167, 52);
}

.align-center {
    grid-area: align-c;
    background-color: rgb(255, 167, 52);
}

.align-right {
    grid-area: align-r;
    background-color: rgb(255, 167, 52);
}

#font {
    grid-area: font;
    border-color: rgb(255, 167, 52);
}

.stroke-color {
    grid-area: stroke-color;
    background-color: rgb(255, 167, 52);
}

.downloud-btn {
    grid-area: downloud;
    background-color: rgb(255, 167, 52);
}

.downloud {
    text-decoration: none;
    color: black;
}

.share-btn {
    grid-area: share;
    background-color: rgb(255, 167, 52);
}

.btn {
    border-radius: 10px;
    cursor: pointer;
    /* width: 100%; */
    width: 85%;
}

.share-btn {
    /* height: ; */
    font-size: 150%;
}

.downloud-btn {
    font-size: 150%;
}

.stiker-container {
    grid-area: stiker;
    display: flex;
    background-color: rgb(255, 167, 52);
    justify-content: space-between;
}

.stiker {
    width: 20%;
    height: 100%;
    text-align: center;
    font-size: 2rem;
    background-color: gray;
    cursor: pointer;
}